.font-poppins {
  font-family: var(--font-poppins);
}

.font-montserat {
  font-family: var(--font-montserat);
}

.slide {
  animation: slider 0.3s forwards;
}

.no-slide {
  animation: no-slider 0.3s forwards;
}

@keyframes no-slider {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(-80px);
  }
  100% {
    transform: translateX(calc(100% + 80px));
  }
}

@keyframes slider {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

.swiper-pagination-bullet-active {
  background-color: #2e86de !important;
}
.swiper-pagination-bullet {
  width: 30px !important;
  border-radius: 10px !important;
  height: 5px !important;
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

input[type="range"] {
  width: 100%;
  position: absolute;
  top: -9px;
  left: 0;
  background: none;
  pointer-events: none;
  appearance: none;
}
input[type="range"]::-webkit-slider-thumb {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #2e86de;
  pointer-events: auto;
  appearance: none;
  transition: all 0.3s;
}
input[type="range"]::-moz-range-thumb {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #2e86de;
  pointer-events: auto;
  appearance: none;
  transition: all 0.3s;
}
input[type="range"]::-webkit-slider-thumb:hover {
  box-shadow: 0 0 0 8px rgba(46, 134, 222,0.2);
}
input[type="range"]::-moz-range-thumb:hover {
  box-shadow: 0 0 0 8px rgba(46, 134, 222,0.2);
}